<div class="wrapper">
    <app-header />
    <div class="uslugi-prototype">
      <div class="container">
        <div class="uslugi-prototype__left">
            <div class="uslugi-prototype__title banner-title"><h2>СТРИЖКИ И УКЛАДКИ</h2></div>
            <div class="uslugi-prototype__subtitle"><p>Все виды современных и модных стрижек на любую длину волос, которые, в большинстве своем, не требуют сложных укладок в домашних условиях.</p></div>
            <div class="uslugi-prototype__icons icons">
              <img src="assets/icons/Женская_стрижка_иконка.png" alt="Icon 1" class="icon">
              <img src="assets/icons/Окрашевание_иконка.png" alt="Icon 2" class="icon">
              <img src="assets/icons/Уход_за_волосами_иконка.png" alt="Icon 3" class="icon">
              <img src="assets/icons/Массаж_иконка.png" alt="Icon 4" class="icon">
              <img src="assets/icons/Маникюр_иконка.png" alt="Icon 5" class="icon">
              <img src="assets/icons/Педикюр _иконка.png" alt="Icon 6" class="icon">
              <img src="assets/icons/Мужская_стрижка_иконка.png" alt="Icon 7" class="icon">
            </div>
        </div>
        <div class="uslugi-protype__right">
            <img src="assets/strizhka_zhenskaya.png" alt="img.alt" style="width:100%; height:auto;">
        </div>
      </div>
    </div>
    <div class="uslugi-service">
      <div class="container">
        <table class="uslugi-service__table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th class="time">Время</th>
                        <th class="price">Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Стрижка женская короткие волосы</td>
                        <td class="time">30 минут</td>
                        <td class="price">1 200 ₽</td>
                    </tr>
                    <tr>
                        <td>Стрижка женская средняя Длина до плеч</td>
                        <td class="time">1 час</td>
                        <td class="price">1 500 ₽</td>
                    </tr>
                    <tr>
                        <td>Стрижка женская длинные</td>
                        <td class="time">1 час</td>
                        <td class="price">1 700 ₽</td>
                    </tr>
                    <tr>
                        <td>Стрижка челки</td>
                        <td class="time">30 минут</td>
                        <td class="price">600 ₽</td>
                    </tr>
                    <tr>
                        <td>Стрижка кончиков (без мытья волос одним срезом)</td>
                        <td class="time">30 минут</td>
                        <td class="price">800 ₽</td>
                    </tr>
                    <tr>
                        <td>Стрижка + укладка (женская)</td>
                        <td class="time">1 ч 30 мин</td>
                        <td class="price">2 000 ₽</td>
                    </tr>
                    <tr>
                        <td>Коррекция стрижки (женская)</td>
                        <td class="time">1 час</td>
                        <td class="price">1 500 ₽</td>
                    </tr>
                    <tr>
                        <td>Мытье головы + сушка</td>
                        <td class="time">1 час</td>
                        <td class="price">1 000 ₽</td>
                    </tr>
                    <tr>
                        <td>Укладка волос на брашинг, легкие локоны</td>
                        <td class="time">1 час</td>
                        <td class="price">1 800 ₽</td>
                    </tr>
                    <tr>
                        <td>Укладка волос</td>
                        <td class="time">2 часа</td>
                        <td class="price">2 000 ₽</td>
                    </tr>                  
                </tbody>
        </table>
      </div>
    </div>
    <app-footer />
  </div>