<div class="wrapper">
    <app-header />
    <div class="uslugi-prototype">
      <div class="container">
        <div class="uslugi-prototype__left">
            <div class="uslugi-prototype__title banner-title"><h2>МАНИКЮР</h2></div>
            <div class="uslugi-prototype__subtitle"><p>Различные виды маникюра с покрытием и без, японский/классический, нюд или яркий, с дизайном или без него.В работе используем материалы от бренда Nano Professionsl.</p></div>
            <div class="uslugi-prototype__icons icons">
              <img src="assets/icons/Женская_стрижка_иконка.png" alt="Icon 1" class="icon">
              <img src="assets/icons/Окрашевание_иконка.png" alt="Icon 2" class="icon">
              <img src="assets/icons/Уход_за_волосами_иконка.png" alt="Icon 3" class="icon">
              <img src="assets/icons/Массаж_иконка.png" alt="Icon 4" class="icon">
              <img src="assets/icons/Маникюр_иконка.png" alt="Icon 5" class="icon">
              <img src="assets/icons/Педикюр _иконка.png" alt="Icon 6" class="icon">
              <img src="assets/icons/Мужская_стрижка_иконка.png" alt="Icon 7" class="icon">
            </div>
        </div>
        <div class="uslugi-prototype__right">
            <img src="assets/Manikur.png" alt="img.alt" style="width:100%; height:auto;">
        </div>
      </div>
    </div>
    <div class="uslugi-service">
      <div class="container">
        <table class="uslugi-service__table">
                <thead>
                    <tr>
                        <th>Название услуги</th>
                        <th class="time">Время</th>
                        <th class="price">Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Маникюр аппаратный</td>
                        <td class="time">1 час</td>
                        <td class="price">800 ₽</td>
                    </tr>
                    <tr>
                        <td>Маникюр комбинированный</td>
                        <td class="time">1 ч 30 минут</td>
                        <td class="price">900 ₽</td>
                    </tr>
                    <tr>
                        <td>Маникюр аппаратный со снятием покрытия</td>
                        <td class="time">1 ч 30 минут</td>
                        <td class="price">1 000 ₽</td>
                    </tr>
                    <tr>
                        <td>Маникюр комбинированный со снятием покрытия</td>
                        <td class="time">2 часа</td>
                        <td class="price">1 200 ₽</td>
                    </tr>
                    <tr>
                        <td>Маникюр + покрытие гель-лак</td>
                        <td class="time">1 ч 30 минут</td>
                        <td class="price">1 600 ₽</td>
                    </tr>
                    <tr>
                        <td>Маникюр + покрытие твёрдым гелем</td>
                        <td class="time">2 часа</td>
                        <td class="price">1 900 ₽</td>
                    </tr>
                    <tr>
                        <td>Наращивание ногтей</td>
                        <td class="time">2 часа</td>
                        <td class="price">2 600 ₽</td>
                    </tr>
                    <tr>
                        <td>Коррекция наращивания</td>
                        <td class="time">2 часа</td>
                        <td class="price">2 200 ₽</td>
                    </tr>
                </tbody>
        </table>
      </div>
    </div>
    <app-footer />
  </div>