<div class="wrapper">
    <app-header />
    <div class="uslugi-prototype">
      <div class="container">
        <div class="uslugi-prototype__left">
            <div class="uslugi-prototype__title banner-title"><h2>мужские СТРИЖКИ</h2></div>
            <div class="uslugi-prototype__subtitle"><p>Это сочетание стиля, практичности и индивидуального подхода. Мы подберем стрижку, которая подчеркнет ваши черты лица, будет гармонировать с образом и потребует минимального ухода.</p></div>
            <div class="uslugi-prototype__icons icons">
              <img src="assets/icons/Женская_стрижка_иконка.png" alt="Icon 1" class="icon">
              <img src="assets/icons/Окрашевание_иконка.png" alt="Icon 2" class="icon">
              <img src="assets/icons/Уход_за_волосами_иконка.png" alt="Icon 3" class="icon">
              <img src="assets/icons/Массаж_иконка.png" alt="Icon 4" class="icon">
              <img src="assets/icons/Маникюр_иконка.png" alt="Icon 5" class="icon">
              <img src="assets/icons/Педикюр _иконка.png" alt="Icon 6" class="icon">
              <img src="assets/icons/Мужская_стрижка_иконка.png" alt="Icon 7" class="icon">
            </div>
        </div>
        <div class="uslugi-prototype__right">
            <img src="assets/Muzhskaya_strizhka.png" alt="img.alt" style="width:100%; height:auto;">
        </div>
      </div>
    </div>
    <div class="uslugi-service">
      <div class="container">
        <table class="uslugi-service__table">
                <thead>
                    <tr>
                        <th>Название услуги</th>
                        <th class="time">Время</th>
                        <th class="price">Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Мужская стрижка короткие волосы</td>
                        <td class="time">30 минут</td>
                        <td class="price">800 ₽</td>
                    </tr>
                    <tr>
                        <td>Мужская стрижка длинные волосы</td>
                        <td class="time">1 час</td>
                        <td class="price">1 000 ₽</td>
                    </tr>
                    <tr>
                        <td>Мужская укладка феном</td>
                        <td class="time">1 час</td>
                        <td class="price">800 ₽</td>
                    </tr>
                    <tr>
                        <td>Стрижка бороды</td>
                        <td class="time">30 минут</td>
                        <td class="price">500 ₽</td>
                    </tr>
                    <tr>
                        <td>Стрижка усов</td>
                        <td class="time">30 минут</td>
                        <td class="price">300 ₽</td>
                    </tr>
                </tbody>
        </table>
      </div>
    </div>
    <app-footer />
  </div>