<div class="wrapper">
    <app-header />
    <div class="uslugi-prototype">
      <div class="container">
        <div class="uslugi-prototype__left">
            <div class="uslugi-prototype__title banner-title"><h2>ПЕДИКЮР</h2></div>
            <div class="uslugi-prototype__subtitle"><p>Для заботы о красоте и здоровье ваших ног мы выполняем различные виды педикюра, в том числе и Smart. В работе используем материалы от бренда Nano Professionsl.</p></div>
            <div class="uslugi-prototype__icons icons">
              <img src="assets/icons/Женская_стрижка_иконка.png" alt="Icon 1" class="icon">
              <img src="assets/icons/Окрашевание_иконка.png" alt="Icon 2" class="icon">
              <img src="assets/icons/Уход_за_волосами_иконка.png" alt="Icon 3" class="icon">
              <img src="assets/icons/Массаж_иконка.png" alt="Icon 4" class="icon">
              <img src="assets/icons/Маникюр_иконка.png" alt="Icon 5" class="icon">
              <img src="assets/icons/Педикюр _иконка.png" alt="Icon 6" class="icon">
              <img src="assets/icons/Мужская_стрижка_иконка.png" alt="Icon 7" class="icon">
            </div>
        </div>
        <div class="uslugi-prototype__right">
            <img src="assets/Pedikur.png" alt="img.alt" style="width:100%; height:auto;">
        </div>
      </div>
    </div>
    <div class="uslugi-service">
      <div class="container">
        <table class="uslugi-service__table">
                <thead>
                    <tr>
                        <th>Название услуги</th>
                        <th class="time">Время</th>
                        <th class="price">Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Педикюр полная обработка стопы с покрытием</td>
                        <td class="time">2 часа</td>
                        <td class="price">2 600 ₽</td>
                    </tr>
                    <tr>
                        <td>Педикюр полная обработка стопы без покрытия</td>
                        <td class="time">2 часа</td>
                        <td class="price">2 000 ₽</td>
                    </tr>
                    <tr>
                        <td>Педикюр обработка пальчиков с покрытием</td>
                        <td class="time">2 часа</td>
                        <td class="price">2 000 ₽</td>
                    </tr>
                    <tr>
                        <td>Педикюр обработка пальчиков без покрытия</td>
                        <td class="time">1 ч 30 минут</td>
                        <td class="price">1 500 ₽</td>
                    </tr>
                </tbody>
        </table>
      </div>
    </div>
    <app-footer />
  </div>